<div class="hero-section container d-flex justify-content-between align-items-center">
  <div class="row align-items-center m-0 w-100">
    <!-- Left Content -->
    <div class="col-lg-6 text-center text-lg-start" data-aos="zoom-in">
      <h1 class="hero-title">Build Your<br><span>Awesome</span><br>Platform</h1>
      <p class="hero-description">
        Enver studio is a digital studio that offers several services
        such as UI/UX Design to developers, we will provide the best service
        for those of you who use our services.
      </p>
      <a href="#services" class="btn btn-primary custom-btn">
        Services
        <i class="fa-solid fa-arrow-up"></i>
      </a>
    </div>
    <!-- Right Image -->
    <div class="col-lg-6 text-center mt-4 mt-lg-0">
      <div class="right py-5 position-relative">
        <img src="assets/images/vectors/line.svg" alt="line" class="an-k line-img" />
        <img src="assets/images/vectors/circles.svg" alt="circles" class="an-r circles-img" />
        <img src="assets/images/vectors/play.svg" alt="play" class="an-l play-img" />
        <img src="assets/images/vectors/add.svg" alt="add" class="an-r add-img" />
        <div class="image-wrapper an-l-2">
          <div class="shape"></div>
          <div class="img-container">
            <img src="assets/images/hero-man.png" alt="Hero" class="hero-img" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
