<nav class="py-3" id="home">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="image-container">
        <img src="assets/images/logo.webp" alt="logo" class="w-75">
      </div>
      <div class="mobile-container">
        <button class="toggle-btn" (click)="toggleMenu()">
          <i class="fas" [ngClass]="isMenuOpen ? 'fa-xmark main-color' : 'fa-bars'"></i>
        </button>

        <!-- Mobile Menu -->
        <div class="position-relative">
          <ul
            class="dropdown-menu d-flex flex-column position-absolute rounded"
            [class.show]="isMenuOpen">
            @for (item of menuList; track $index) {
              <a [href]="'#' + item.link" (click)="closeMenu()">
                <li>
                  <i class="fas me-2" [class]="item.icon"></i> {{item.text}}
                </li>
              </a>
            }
          </ul>
        </div>
      </div>
      <!-- desktop  -->
        <ul class="desktop m-0">
          @for (item of menuList.slice(0, menuList.length - 1); track $index) {
            <a [href]="'#' + item.link" (click)="closeMenu()">
              <li>
                {{item.text}}
              </li>
            </a>
          }
        </ul>
        <div class="contact-btn">
          <a href="#contact-us">Contact us</a>
        </div>
    </div>
  </div>
</nav>
